@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  background-color: #101419;
  color: #b6beca;
}

#blue {
  color: #70a5eb;
}

.container-navbar {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  left: 0;
  position: fixed;
  width: 100%;
  padding-bottom: 150;
  padding-left: 5;
  box-sizing: border-box;
}

.container-navbar,
.container-navbar ul {
  font-family: 'JetBrains Mono', monospace;
  font-size: large;
  font-weight: bold;
  background-color: #0a0c0f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.container-navbar,
.container-navbar li {
  margin: 0 10px;
}

.container-navbar img {
  height: 45px;
  margin-right: 20px;
  transition: transform 0.3s;
}

.container-navbar img:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
}

a {
  color: white;
  transition: color 0.3s;
}

a:hover {
  color: #70a5eb;
}

.container-header {
  font-family: 'JetBrains Mono', monospace;
  font-size: large;
  padding-left: 8px;
  padding-top: 50px;
}

.container-content {
  padding-top: 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: large;
  padding-left: 8px;
}

.container-langs {
  background-color: #0a0c0f;
  padding-left: 8px;
  width: 270px;
  align-items: center;
  display: flex;
}

.item {
  padding: 15px;
  box-shadow: 0 0px 0px black;
}

.item img {
  height: 45px;
  margin-right: 10px;
}

.item h3 {
  margin: 0;
}

.container-footer {
  background-color: #0a0c0f;
  justify-content: center;
  text-align: center;
  font-size: large;
  position: fixed;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  bottom: 0;
  padding: 15px;
}


